* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #5AC8DC;
    height: 10px;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background: #1D1E22;
}

/*
    Section Accueil
 */

.bc-img {
    width: 100%;
    min-height: 100vh;
    background-image: url("image/accueil.png");
    background-attachment: fixed;
    background-size: cover;
}

.section-item {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div-item {
    border-radius: 20px;
    background-color: rgba(70, 75, 77, 0.8);
    margin: 20px;
    padding: 20px;
}

.div-item h2 {
    color: white;
    text-decoration: none;
}

.div-item p {
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
}

/*.div-item a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding: 10px;*/
/*    background-color: #e58585;*/
/*    border-radius: 10px;*/
/*}*/

.link-saumon {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #e58585;
    border-radius: 10px;
}

.link-blue {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #56dff6;
    border-radius: 10px;
}

/*
    Navbar
 */

.img-1 {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: rgba(221, 238, 244, 0.5);
}
.nav-item {
    margin-right: 30px;
    margin-left: 30px;
}
.nav-item a {
    /*color: #76B4FF;*/
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}